$tipografiaLOGO: 'VT323', monospace;
$tipografia: 'Roboto', sans-serif;
$colorAzulFondo: #1D2C4D;
$colorBlanco: #FCFAF9;
$colorBlanco21: #fcfaf942;
$colorNegroTrans: #00000062;
$colorCeleste: #2589BD;
$colorRojo: #df4343;
$colorRojoTrans: #df434385;
